<!-- Config file for the game -->

<config>
 <app cap_frames="false" framerate_cap="60">
    <title>DOOM 2D19</title>
    <organization>Doctor Corp</organization>
 </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <gui>
    <atlas file="gui/atlas.png"/>
    <spriteScale value = "3.35" /> 	
  </gui>

  <scene>
    <InGameUI>
	 <images>
        <image name="panel">
		  <position x="104" y="580" />
          <section x="0" y="0" w="320" h="32"/>
        </image>
		
		
		 <image name="oldCollectible">
		  <position x="914" y="599" />
          <section x="22" y="45" w="16" h="23"/>
		  <textureMapName value="loot"/>
        </image>
		
		 <image name="newCollectible">
		  <position x="1044" y="599" />
          <section x="0" y="45" w="16" h="23"/>
		  <textureMapName value="loot"/>
        </image>
		
	 </images>	
	 
	 
	  <labels>
        <label name="healthLabel">
          <position x="444" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="500"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
        </label>
		
		<label name="armorLabel">
          <position x="780" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
        </label>
		
		<label name="ammoLabel">
          <position x="160" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
        </label>
		
		
		<label name="oldCollectibleLabel">
           <position x="984" y="605" />
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
        </label>
		
		<label name="newCollectibleLabel">
          <position x="1114" y="605" />
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
        </label>
		
		<label name="deathTimerLabel">
          <position x="1000" y="15" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="Death in: "/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value="1.0"/>
        </label>
		
		<label name="deathTimerCounter">
          <position x="1170" y="15" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="40"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value="1.0"/>
        </label>
		
		
      </labels>

	  <face name="face">   
		  <position x="601" y="589" />
       </face>
		
		
    </InGameUI> 
    <MainMenuUI>
	<images>
        <image name="background">
		  <position x="0" y="0" />
          <section x="150" y="207" w="440" h="247"/>
		  <scaleFactor value = "3.1"/>
        </image>
	 </images>	
	 <labels>
        <label name="gameName">
          <position x="505" y="20"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="DOOM 2D19"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value = "2.1"/>
        </label>
      </labels>
	   <buttons>
        <button name="playButton">
          <position x="200" y="200"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Play"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="3"/>
        </button>
      </buttons>
	</MainMenuUI>
 </scene>

</config>