<!-- Config file for the game -->

<config>
 <app cap_frames="true" framerate_cap="30">
    <title>DOOM 2D19</title>
    <organization>Doctor Corp</organization>
 </app>

  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>
  
  <gui>
    <atlas file="gui/atlas.png"/>
    <spriteScale value = "3.35" /> 	
  </gui>

  <scene>
    <InGameUI>
	 <images>
        <image name="panel">
		  <position x="104" y="580" />
          <section x="0" y="0" w="320" h="32"/>
        </image>
		
		
		 <image name="oldCollectible">
		  <position x="914" y="599" />
          <section x="22" y="45" w="16" h="23"/>
		  <textureMapName value="loot"/>
        </image>
		
		 <image name="newCollectible">
		  <position x="1044" y="599" />
          <section x="0" y="45" w="16" h="23"/>
		  <textureMapName value="loot"/>
        </image>
		
	 </images>	
	 
	 
	  <labels>
        <label name="healthLabel">
          <position x="444" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="500"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
		  <resetable value = "true"/>   
        </label>
		
		<label name="armorLabel">
          <position x="780" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
		  <resetable value = "true"/>   
        </label>
		
		<label name="ammoLabel">
          <position x="160" y="585"/>
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
		  <resetable value = "true"/>   
        </label>
		
		
		<label name="oldCollectibleLabel">
           <position x="984" y="605" />
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
		  <resetable value = "true"/>   
        </label>
		
		<label name="newCollectibleLabel">
          <position x="1114" y="605" />
          <color R="40" G="0" B="0" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="24"/>
		  <resetable value = "true"/>   
        </label>
		
		<label name="deathTimerLabel">
          <position x="1000" y="15" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="Death in: "/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value="1.0"/>
        </label>
		
		<label name="deathTimerCounter">
          <position x="1170" y="15" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="40"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value="1.0"/>
		  <resetable value = "true"/>   
        </label>
		
		
		<label name="Time">
          <position x="50" y="8" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="Total time: "/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
		  <scaleFactor value="1.0"/>
        </label>
		
		<label name="TimeCounter">
          <position x="190" y="8" />
          <color R="255" G="255" B="200" A="255"/>
          <text value="0"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
		  <scaleFactor value="1.0"/>
		  <resetable value = "true"/>   
        </label>
		
		
		<label name="Lives">
          <position x="230" y="8" />
          <color R="255" G="255" B="200" A="255"/>
          <text value="Lives: "/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
		  <scaleFactor value="1.0"/>
        </label>
		
		<label name="LiveCounter">
          <position x="300" y="8" />
          <color R="255" G="255" B="255" A="255"/>
          <text value="3"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
		  <scaleFactor value="1.0"/>
		  <resetable value = "true"/>   
        </label>
		
      </labels>

	  <face name="face">   
		  <position x="601" y="589" />
       </face>
		
		
    </InGameUI> 
    <MainMenuUI>
	<images>
        <image name="background">
		  <position x="0" y="0" />
          <section x="0" y="845" w="1522" h="855"/>
		  <scaleFactor value = "1.0"/>
        </image>
	 </images>	
	 <labels>
        <label name="gameName">
          <position x="750" y="16"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="DOOM 2D19"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value = "2.1"/>
        </label>
      </labels>
	   <buttons>
        <button name="playButton">
          <position x="200" y="200"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Play"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="6"/>
        </button>
		
		<button name="continueButton">
          <position x="200" y="260"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Continue"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="Continue"/>
		  <targetScene value="0"/>
        </button>
		
		
		<button name="difficultyButton">
          <position x="200" y="320"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Select difficulty"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="2"/>
        </button>
		
		<button name="settingsButton">
          <position x="200" y="380"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Settings"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="4"/>
        </button>
		
		<button name="creditsButton">
          <position x="200" y="440"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Credits"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="3"/>
        </button>
		
		
		<button name="exitButton">
          <position x="200" y="650"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Exit"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="ExitGame"/>
		  <targetScene value="0"/>
        </button>
		
		<button name="webButton">
          <position x="200" y="590"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="WebPage"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="OpenWeb"/>
		  <targetScene value="0"/>
        </button>
		
      </buttons>
	</MainMenuUI>
    <DifficultySelectorUI>
	<labels>
        <label name="title">
          <position x="495" y="16"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Choose your difficulty"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value = "1.0"/>
        </label>
      </labels>
	  
	 <images>
        <image name="background">
		  <position x="0" y="0" />
          <section x="323" y="0" w="1361" h="840"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
		<image name="face1">
		  <position x="500" y="200" />
          <section x="0" y="485" w="24" h="30"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
			<image name="face2">
		  <position x="500" y="265" />
          <section x="26" y="485" w="24" h="30"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
			<image name="face3">
		  <position x="500" y="330" />
          <section x="52" y="485" w="24" h="30"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
			<image name="face4">
		  <position x="500" y="395" />
          <section x="78" y="485" w="24" h="30"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
			<image name="face5">
		  <position x="500" y="460" />
          <section x="104" y="485" w="24" h="30"/>
		  <scaleFactor value = "1.7"/>
        </image>
		
	 </images>	
	 
      <buttons>
        <button name="difficulty1Button">
          <position x="550" y="200"/>
          <color R="0" G="255" B="0" A="255"/>
          <text value="I AM A CASUAL GAMER"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetDifficulty"/>
		  <targetScene value="0"/>
        </button>
		
		<button name="difficulty2Button">
          <position x="550" y="265"/>
          <color R="61" G="189" B="0" A="255"/>
          <text value="I PLAYED DARK SOULS ONCE"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetDifficulty"/>
		  <targetScene value="0"/>
        </button>
		
		
		<button name="difficulty3Button">
          <position x="550" y="330"/>
          <color R="122" G="123" B="0" A="255"/>
          <text value="I FANTASIZE ABOUT DYING"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetDifficulty"/>
		  <targetScene value="0"/>
        </button>
		
		<button name="difficulty4Button">
          <position x="550" y="395"/>
          <color R="189" G="61" B="0" A="255"/>
          <text value="THEY CALL ME DARK LORD"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetDifficulty"/>
		  <targetScene value="0"/>
        </button>
		
		<button name="difficulty5Button">
          <position x="550" y="460"/>
          <color R="255" G="0" B="0" A="255"/>
          <text value="I LISTEN TO DEATH METAL"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetDifficulty"/>
		  <targetScene value="0"/>
        </button>
		
		<button name="backFromDifficultyButton">
          <position x="80" y="600"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="BACK"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="1"/>
        </button>
		
      </buttons>
    </DifficultySelectorUI>	  
    <SettingsUI>
	
	<labels>
        <label name="title">
          <position x="550" y="16"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="SETTINGS"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value = "2.0"/>
        </label>
      </labels>
	  
	<images>
        <image name="background">
		  <position x="0" y="0" />
          <section x="0" y="1706" w="1533" h="873"/>
		  <scaleFactor value = "1.0"/>
        </image>
	 </images>

    <sliders>
        <slider name="musSlider">
          <position x="200" y="200"/>
          <section x="118" y="211" w="177" h="31"/>
		  <hoverSection x="118" y="249" w="177" h="31"/>
		  <thumbSection x="26" y="196" w="24" h="29"/>
		  <thumbOffset x ="4" y="2"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetVolume"/>
		  <color R="255" G="255" B="0" A="255"/>
		  <color2 R="0" G="255" B="0" A="255"/>
          <text value="music"/>
		  <valueText value="?"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
        </slider>
     <slider name="fxsSlider">
          <position x="200" y="300"/>
          <section x="118" y="211" w="177" h="31"/>
		  <hoverSection x="118" y="249" w="177" h="31"/>
		  <thumbSection x="26" y="196" w="24" h="29"/>
		  <thumbOffset x ="4" y="2"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetVolume"/>
		  <color R="255" G="255" B="0" A="255"/>
		  <color2 R="0" G="255" B="0" A="255"/>
          <text value="fxs"/>
		  <valueText value="?"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
        </slider>
    </sliders> 	
    <buttons>
	<button name="backFromSettingsButton">
          <position x="80" y="600"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="BACK"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="1"/>
        </button>
    </buttons>	
	</SettingsUI>
	<InGameSettingsUI>
	
	<labels>
        <label name="title">
          <position x="550" y="100"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="SETTINGS"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value = "2.0"/>
        </label>
      </labels>
	  
	<images>
        <image name="background">
		  <position x="100" y="50" />
          <section x="0" y="1706" w="1533" h="873"/>
		  <scaleFactor value = "0.7"/>
        </image>
	 </images>

    <sliders>
        <slider name="musSlider">
          <position x="250" y="200"/>
          <section x="118" y="211" w="177" h="31"/>
		  <hoverSection x="118" y="249" w="177" h="31"/>
		  <thumbSection x="26" y="196" w="24" h="29"/>
		  <thumbOffset x ="4" y="2"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetVolume"/>
		  <color R="255" G="255" B="0" A="255"/>
		  <color2 R="0" G="255" B="0" A="255"/>
          <text value="music"/>
		  <valueText value="?"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
        </slider>
     <slider name="fxsSlider">
          <position x="250" y="300"/>
          <section x="118" y="211" w="177" h="31"/>
		  <hoverSection x="118" y="249" w="177" h="31"/>
		  <thumbSection x="26" y="196" w="24" h="29"/>
		  <thumbOffset x ="4" y="2"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="SetVolume"/>
		  <color R="255" G="255" B="0" A="255"/>
		  <color2 R="0" G="255" B="0" A="255"/>
          <text value="fxs"/>
		  <valueText value="?"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="36"/>
        </slider>
    </sliders> 	
    <buttons>
	<button name="backFromInGameToGameButton">
          <position x="130" y="500"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="BACK"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="ChangeGamePause"/>
		  <targetScene value="-1"/>
        </button>
		
		<button name="backFromInGametoMainbutton">
          <position x="130" y="570"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="BACK TO MAIN MENU"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="1"/>
        </button>
		
    </buttons>	
	</InGameSettingsUI>
	<CreditsUI>
	
	<images>
        <image name="background">
		  <position x="0" y="0" />
          <section x="0" y="2587" w="1530" h="865"/>
		  <scaleFactor value = "1.0"/>
        </image>
		
		 <image name="license">
		  <position x="450" y="0" />
          <section x="1611" y="2067" w="548" h="1405"/>
		  <scaleFactor value = "1.0"/>
        </image>
		
	 </images>	
	 
	 <labels>
        <label name="title">
          <position x="80" y="50"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Credits"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="60"/>
		  <scaleFactor value = "1.0"/>
        </label>
      </labels>
	  
	<buttons>
	<button name="backFromCreditsButton">
          <position x="80" y="600"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="BACK"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="LoadGUI"/>
		  <targetScene value="1"/>
        </button>
		
		<button name="creditScrollButton">
          <position x="1150" y="550"/>
          <color R="3" G="40" B="50" A="255"/>
          <text value="SCROLL"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="ClippingScroll"/>
        </button>
		
		<button name="creditScrollResetButton">
          <position x="1150" y="620"/>
          <color R="3" G="40" B="50" A="255"/>
          <text value="RESET"/>
          <path p="gui/fonts/amazdoom/AmazDooMLeft.ttf"/>
          <size s="48"/>
		  <scaleFactor value="1.0"/>
		  <functionName value="ClippingScroll"/>
        </button>
		
		
    </buttons>
	
	
	 
	</CreditsUI>
	</scene>

</config>